//color
$color-primary: #BEACEA;
$color-secondary: #E9928B;
$color-black:#000;
$color-blue:#02287B;
$color-greyBlue:#4E519E;
$color-lightPurple:#956DB6;
$color-darkGreyPurple:#453967;
$color-lightGreyPurple:#6D5B97;
$color-darkPurple:#614774;
$color-pastelPink:#FFC8CE;
$color-darkBlue:#1D173D;
$color-lightGrey:lightgrey;
$color-red:red;

//grid
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
$gutter-horizontal:6rem;

//font Sizes
$default-font-size:1.6rem;

//box shadow
$default-box-shadow:0 2rem 4rem rgba($color-black, .5);