.navigation{
    &__checkbox{
    display: none;
    }
    &__button{
        position:fixed;
        top:6.5rem;
        right:6.5rem;
        height:9rem;
        width:9rem;
        z-index:200;
        border-radius: 50%;
        background-color:#fff;
        @include defaultBoxShadow;
        cursor: pointer;
        text-align: center;
        @include respond(tab-port){
            top:4.5rem;
            right: 4.5rem;
        }
    }
    &__background{
        position:fixed;
        top:7rem;
        right:7rem;
        height:8rem;
        width:8rem;
        border-radius: 50%;
        background-image: radial-gradient($color-darkGreyPurple, $color-greyBlue);
        z-index:100;
        transition: all 1s cubic-bezier(0, 0, 0.265, 1.35);
        @include defaultBoxShadow;
        @include respond(tab-port){
            top:5rem;
            right:5rem;
        }
       // transform:scale(30);
    }
    &__nav{
        height:100vh;
        width: 0%;
        position: fixed;
        top:0;
        right:0;
        z-index: 150;
        opacity: 0;
        transition: all 1s cubic-bezier(0, 0, 0.265, 1.35);
        transform-origin:right; 

        @include respond(small-phone){
            pointer-events: none;
        }
        @include respond(phone){
            left:0;
            }

        
    }
    &__list{
        position: absolute;
        top: 50%;
        left:75%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none;
        @include respond(phone){
            left:100%;
            }
        
    }
    &__item{
        margin:3rem;
    }
    &__link{
        display: inline-block;
        font-size:4rem;
        font-weight: 300;
        color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size:230%;
        transition: all .5s;
        @include respond(tab-port){
            font-size:3rem;
            }
        &:hover,
        &:active {
            background-position: 100%;
            transform: translateX(1rem);    
        }
    }
    //checkbox functionality
    &__checkbox:checked ~ &__background {
        width:20%;
        height: 100%;
        transform: scale(1.5);
        border-radius: 0%;
        @include respond(phone){
        transform: scale(8);
        border-radius: 50%;
        }
    }
    &__checkbox:checked ~ &__nav {
        width: 50%;
        opacity: 1;
        @include respond(small-phone){
            pointer-events: auto;
        }
    }
    //icon
    &__icon {
        position: relative;
        margin-top: 4.5rem;

        &,
        &::before,
        &::after {
           width:4rem;
           height:2px;
           background-color: $color-darkGreyPurple;
           display: inline-block;
           transition: all .5s;
           
        }
        &::before,
        &::after {
            content: "";
            position: absolute; 
            left:0;
            

        }
        &::before {
            top:-1rem;
        }
        &::after{
            top:1rem;
        }
    }
    &__button:hover &__icon::before{
        top:-1.3rem;
    }
    &__button:hover &__icon::after{
        top:1.3rem;
    }
    &__checkbox:checked + &__button &__icon{
        background-color:transparent;
    }
    &__checkbox:checked + &__button &__icon::before{
        transform: rotate(45deg);
        top:0;
    }
    &__checkbox:checked + &__button &__icon::after{
        transform: rotate(-45deg);
        top:0;
    }
}