.uCenterText {
    text-align: center !important;
}
.uMarginBottomBig {
    margin-bottom: 7rem !important;
}
.uMarginBottomMedium {
    margin-bottom:4rem !important;
}
.uMarginBottomSmall {
    margin-bottom:1.5rem !important;
}